header{
	width: 100%;
	height: 40px;
	background-color: #F6F6F7;
	margin: 20px 0px 40px 0px;
	position: relative;
}

.cart-icon{
	color: #888888;
	font-size: small;
	width: 80px;
	height: 40px;
	line-height: 40px;
	position: absolute;
	right: 10%;
	text-align: center;
	z-index: 2;
}


.product-image img{
	width: 70%;
	height: auto;
	display: block;
	margin: auto;
}
@media all and (max-width: 991px){
	.product-image img{
		width: 80%;
	}
}
@media all and (max-width: 767px){
	.product-image img{
		width: 90%;
	}
}
@media all and (max-width: 575px){
	.product-image img{
		width: 100%;
	}
	.cart-icon #icon-small{
		display: block;
	}
	.cart-icon #icon-large{
		display: none;
	}
}

@media all and (min-width: 576px){
	.cart-icon #icon-small{
		display: none;
	}
	.cart-icon #icon-large{
		display: block;
	}
}




.product-title{
	font-weight: 220;
}

.product-price{
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	padding: 5px 0px;
	margin-top: 30px;
	font-weight: bold;
}

.product-description{
	color: #888888;
	font-weight: lighter;
	font-size: smaller;
}

.size-display{
	color: #888888;
	font-weight: 400;
	font-size: small;
	width: 100px;
}

#size-choose-buttons{
	margin-top: 10px;
}

#size-choose-buttons button{
	background: none;
	border: 1px solid #cccccc;
	width: 40px;
	height: 40px;
	color: #888888;
}

#size-choose-buttons .active{
	border: 2px solid #222222;
}

#add-button{
	background: none;
	border: 2px solid black;
	width: 180px;
	height: 40px;
	margin-top: 30px;
	font-weight: bold;
	color: #222222;
	transition: all 0.2s;
}


@media all and (min-width: 576px) and (max-width: 767px){
	#product-buying-manipulate{
		width: 100%;
		margin-top: 30px;
		padding: 0 5%;
	}

	#product-buying-manipulate *{
		display: inline-block;
		margin-top: 0px;
	}


	#product-buying-manipulate #add-button{
		float: right;
	}
}

.mini-cart{
	display: none;
	border: 1px solid #cccccc;
	width: 350px;
	position: absolute;
	right: 10%;
	top: 40px;
	background-color: white;
	z-index: 1;
	padding: 0px 17px 20px 17px;
	margin-top: -1px;
}

.cart-item{
	margin-top: 17px;
}

.cart-item img{
	width: 25%;
	height: auto;
	vertical-align: text-top;
	margin-right: 10px;
}

.cart-item-description{
	display: inline-block;
	width: 40%;
	vertical-align: text-top;
	font-size: smaller;
}















